<div class="container put-center">
    <div class="no-hover-card">
        <div class="put-center">
            <h2>THIRD LAYER</h2>
        </div>
    </div>
</div>

<div class="container" style="padding-top: 20px;">
    <div class="put-center">
        <table>
            <tr align="center">
                <td colspan="3" style="align-content: center;">
                    <div class="no-hover-card" style="margin-bottom: 10px;">
                        <h5>STEP 1: MAKE A YELLOW CROSS</h5>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="col">
                        <div class="card">
                            <img src="./assets/front-face.png" class="card-img-top" alt="Front Face">
                            <div class="card-body">
                                <h5 class="card-title">Front Face</h5>
                                <p class="card-text">
                                    Focus on yellow edges, and follow the algorithm.
                                </p>
                                <button class="btn" (click)="openPopup(0)"><a class="nav-link">How to...</a></button>
                                <!-- Vertically centered modal -->
                                <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle[0]}">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Front Face</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p>
                                                    Focus on yellow edges, and follow the algorithm.
                                                </p>
                                                <img src="./assets/cross-solution.png" alt="cross-solution" style="height: 350px;"/>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-danger" (click)="closePopup(0)">
                                                    Close
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="col">
                        <div class="card">
                            <img src="./assets/front-face-line.png" class="card-img-top" alt="Front Face Line">
                            <div class="card-body">
                                <h5 class="card-title">Front Face Line</h5>
                                <p class="card-text">
                                    Focus on yellow edges, and follow the algorithm.
                                </p>
                                <button class="btn" (click)="openPopup(1)"><a class="nav-link">How to...</a></button>
                                <!-- Vertically centered modal -->
                                <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle[1]}">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Front Face Line</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p>
                                                    Focus on yellow edges, and follow the algorithm.
                                                </p>
                                                <img src="./assets/cross-solution.png" alt="cross-solution" style="height: 350px;"/>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-danger" (click)="closePopup(1)">
                                                    Close
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>        
                </td>
                <td>
                    <div class="col">
                        <div class="card">
                            <img src="./assets/front-face-sit.png" class="card-img-top" alt="Front face sit">
                            <div class="card-body">
                                <h5 class="card-title">Front Face Sit</h5>
                                <p class="card-text">
                                    Focus on yellow edges, and follow the algorithm.
                                </p>
                                <button class="btn" (click)="openPopup(2)"><a class="nav-link">How to...</a></button>
                                <!-- Vertically centered modal -->
                                <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle[2]}">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Front Face Sit</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p>Focus on yellow edges, and follow the algorithm.</p>
                                                <img src="./assets/cross-solution.png" alt="cross-solution" style="height: 350px;"/>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-danger" (click)="closePopup(2)">
                                                    Close
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <br>
            <tr align="center">
                <td colspan="3" style="align-content: center;">
                    <div class="no-hover-card">
                        <h5>STEP 2: COMPLETE TOP YELLOW</h5>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="col">
                        <div class="card">
                            <img src="./assets/fish.png" class="card-img-top" alt="Fish">
                            <div class="card-body">
                                <h5 class="card-title">Fish Face</h5>
                                <p class="card-text">
                                    Hold your Rubik's Cube so the fish can eat out of your LEFT hand.
                                </p>
                                <button class="btn" (click)="openPopup(3)"><a class="nav-link">How to...</a></button>
                                <!-- Vertically centered modal -->
                                <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle[3]}">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Fish Face</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p>
                                                    Hold your Rubik's Cube so the fish can eat out of your LEFT hand.
                                                </p>
                                                <img src="./assets/fish-sol.png" alt="fish-sol" style="height: 350px;"/>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-danger" (click)="closePopup(3)">
                                                    Close
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="col">
                        <div class="card">
                            <img src="./assets/plus.png" class="card-img-top" alt="plus">
                            <div class="card-body">
                                <h5 class="card-title">Top Layer Plus</h5>
                                <p class="card-text">
                                    Hold your Rubik's Cube with a YELLOW tile on the LEFT(L) face.
                                </p>
                                <button class="btn" (click)="openPopup(4)"><a class="nav-link">How to...</a></button>
                                <!-- Vertically centered modal -->
                                <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle[4]}">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Top Layer Plus</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p>
                                                    Hold your Rubik's Cube with a YELLOW tile on the LEFT(L) face.
                                                </p>
                                                <img src="./assets/fish-sol.png" alt="fish-solution" style="height: 350px;"/>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-danger" (click)="closePopup(4)">
                                                    Close
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>        
                </td>
                <td>
                    <div class="col">
                        <div class="card">
                            <img src="./assets/man.png" class="card-img-top" alt="Man">
                            <div class="card-body">
                                <h5 class="card-title">Man Up Shape</h5>
                                <p class="card-text">
                                    Hold your Rubik's cube so that you can put your left thumb on the tile on the FRONT (F) face.
                                </p>
                                <button class="btn" (click)="openPopup(5)"><a class="nav-link">How to...</a></button>
                                <!-- Vertically centered modal -->
                                <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle[5]}">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Man Up Shape</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p>Hold your Rubik's cube so that you can put your left thumb on the tile on the FRONT (F) face.</p>
                                                <img src="./assets/fish-sol.png" alt="fish-solution" style="height: 350px;"/>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-danger" (click)="closePopup(5)">
                                                    Close
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="col">
                        <div class="card">
                            <img src="./assets/some-shape.png" class="card-img-top" alt="some-shape">
                            <div class="card-body">
                                <h5 class="card-title">Space Ship Shape</h5>
                                <p class="card-text">
                                    Hold your Rubik's cube so that you can put your left thumb on the tile on the FRONT (F) face.
                                </p>
                                <button class="btn" (click)="openPopup(6)"><a class="nav-link">How to...</a></button>
                                <!-- Vertically centered modal -->
                                <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle[6]}">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Space Ship Shape</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p>
                                                    Hold your Rubik's cube so that you can put your left thumb on the tile on the FRONT (F) face.
                                                 </p>
                                                <img src="./assets/fish-sol.png" alt="fish-solution" style="height: 350px;"/>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-danger" (click)="closePopup(6)">
                                                    Close
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>        
                </td>
                <td>
                    <div class="col">
                        <div class="card">
                            <img src="./assets/man-right.png" class="card-img-top" alt="Man-right">
                            <div class="card-body">
                                <h5 class="card-title">Man Left Shape</h5>
                                <p class="card-text">
                                    Hold your Rubik's cube so that you can put your left thumb on the tile on the FRONT (F) face.
                                </p>
                                <button class="btn" (click)="openPopup(7)"><a class="nav-link">How to...</a></button>
                                <!-- Vertically centered modal -->
                                <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle[7]}">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Man Left Shape</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p>Hold your Rubik's cube so that you can put your left thumb on the tile on the FRONT (F) face.</p>
                                                <img src="./assets/fish-sol.png" alt="fish-solution" style="height: 350px;"/>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-danger" (click)="closePopup(7)">
                                                    Close
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="col">
                        <div class="card">
                            <img src="./assets/long-way.png" class="card-img-top" alt="Long Way">
                            <div class="card-body">
                                <h5 class="card-title">Long Way...</h5>
                                <p class="card-text">
                                    When Rubik's cube has all the yellow faces on the UP face, 
                                </p>
                                    <h5> Congratulations!! </h5>
                                <p>
                                    You are almost there...
                                </p>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <br>
            <tr align="center">
                <td colspan="3" style="align-content: center;">
                    <div class="no-hover-card">
                        <h5>STEP 3: PUT CORRECT CORNERS</h5>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="col">
                        <div class="card">
                            <img src="./assets/top-two-same-corner.png" class="card-img-top" alt="top-two-same-corner">
                            <div class="card-body">
                                <h5 class="card-title">Top Two Same Corner</h5>
                                <p class="card-text">
                                    Hold your Rubik's Cube so it matches one of the images here.
                                </p>
                                <button class="btn" (click)="openPopup(8)"><a class="nav-link">How to...</a></button>
                                <!-- Vertically centered modal -->
                                <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle[8]}">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Top Two Same Corner</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p>
                                                    Hold your Rubik's Cube so it matches one of the images here.
                                                </p>
                                                <img src="./assets/third-sol.png" alt="third-sol" style="height: 350px;"/>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-danger" (click)="closePopup(8)">
                                                    Close
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="col">
                        <div class="card">
                            <img src="./assets/top-diagonal-corner.png" class="card-img-top" alt="top-diagonal-corner">
                            <div class="card-body">
                                <h5 class="card-title">Top Diagonal Corners</h5>
                                <p class="card-text">
                                    Hold your Rubik's Cube so it matches one of the images here.
                                </p>
                                <button class="btn" (click)="openPopup(9)"><a class="nav-link">How to...</a></button>
                                <!-- Vertically centered modal -->
                                <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle[9]}">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Top Diagonal Corners</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p>
                                                    Hold your Rubik's Cube so it matches one of the images here.
                                                </p>
                                                <img src="./assets/third-sol.png" alt="third-solution" style="height: 350px;"/>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-danger" (click)="closePopup(9)">
                                                    Close
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>        
                </td>
                <td>
                    <div class="col">
                        <div class="card">
                            <img src="./assets/final-step.png" class="card-img-top" alt="final-step">
                            <div class="card-body">
                                <h5 class="card-title">FINAL STEP</h5>
                                <p class="card-text">
                                    When Rubik's cube all corners are set correctly as shown, 
                                </p>
                                    <h5> Congratulations!! </h5>
                                <p>
                                    Move to the last step.
                                </p>
                            </div>
                        </div>
                    </div>        
                </td>
            </tr>
            <tr align="center">
                <td colspan="3" style="align-content: center;">
                    <div class="no-hover-card">
                        <h5>STEP 4: COMPLETING THE CUBE...</h5>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="col">
                        <div class="card">
                            <img src="./assets/last-step.png" class="card-img-top" alt="last-step">
                            <div class="card-body">
                                <h5 class="card-title">Top Two Same Corner</h5>
                                <p class="card-text">
                                    Hold your Rubik's Cube so it matches one of the images here.
                                </p>
                                <button class="btn" (click)="openPopup(10)"><a class="nav-link">How to...</a></button>
                                <!-- Vertically centered modal -->
                                <div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle[10]}">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Top Two Same Corner</h4>
                                            </div>
                                            <div class="modal-body">
                                                <p>
                                                    Follow this algorithm up to 3 times to move the unsolved edges CLOCKWISE or LEFT.
                                                </p>
                                                <img src="./assets/final.png" alt="final" style="height: 350px;"/>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-danger" (click)="closePopup(10)">
                                                    Close
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="col">
                        <div class="card">
                            <img src="./assets/solved.png" class="card-img-top" alt="solved">
                            <div class="card-body">
                                <h5 class="card-title">CONGRATULATIONS</h5>
                                <p class="card-text">
                                    You have successfully completed the OG RUBIK'S CUBE.
                                </p>
                            </div>
                        </div>
                    </div>        
                </td>
                <td>
                    <div class="col">
                        <div class="card">
                            <img src="./assets/timer.png" class="card-img-top" alt="timer">
                            <div class="card-body">
                                <h5 class="card-title">TIME OUT!!</h5>
                                <p class="card-text">
                                    When you learn how to complete, go faster.
                                    <br>
                                    Time yourself out.
                                </p>
                                <button class="btn" (click)="openPopup(9)"><a class="nav-link">TIMER</a></button>
                            </div>
                        </div>
                    </div>        
                </td>
            </tr>
        </table>
    </div>
</div>