<div class="container put-center">
    <div class="no-hover-card">
        <div class="put-center">
            <h2>RUBIK'S CUBE</h2>
        </div>
    </div>
</div>

<div class="container" style="padding-top: 20px;">
    <div class="put-center">
        <div class="row row-cols-3 g-4">
            <div class="col">
                <div class="card">
                    <img src="./assets/first-layer.png" class="card-img-top" alt="First layer of the Rubik's Cube">
                    <div class="card-body">
                        <h5 class="card-title">First Layer</h5>
                        <p class="card-text">
                            First Layer is the building block of our Rubik's Cube. It may be frustating, but is necessary.
                        </p>
                        <button class="btn"><a class="nav-link" routerLinkActive="active" routerLink="/First-Layer">Go To First Layer</a></button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="./assets/second-layer.png" class="card-img-top" alt="Second layer of the Rubik's Cube">
                    <div class="card-body">
                        <h5 class="card-title">Second Layer</h5>
                        <p class="card-text">
                            Second layer is the center layer, due to which our cube is further completed.
                        </p>
                        <button class="btn"><a class="nav-link" routerLinkActive="active" routerLink="/Second-Layer">Go To Second Layer</a></button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="./assets/third-layer.png" class="card-img-top" alt="Third layer of the Rubik's Cube">
                    <div class="card-body">
                        <h5 class="card-title">Third Layer</h5>
                        <p class="card-text">
                            Third layer is the final layer to the completion of the Rubik's cube.
                        </p>
                        <button class="btn"><a class="nav-link" routerLinkActive="active" routerLink="/Third-Layer">Go To Third Layer</a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>